In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
flats = pd.read_csv(r'A:\Work Docs\Data Analyst work\Campus X\10 Streamlit\Capstone\flats_cleaned.csv')
houses = pd.read_csv(r'A:\Work Docs\Data Analyst work\Campus X\10 Streamlit\Capstone\house_cleaned.csv')

In [11]:
flats.head(1)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [12]:
houses.head(1)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [13]:
df = pd.concat([flats, houses], ignore_index=True)

In [14]:
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
374,4 BHK Flat in DLF Phase 3,flat,dlf city plots phase 3,6.50,18571.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,5,3+,servant room,"T8-3, DLF Phase 3, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Dlf phase 3 metro station', 'Micromax moulsa...",Vastu perfect and overlooking beautiful orname...,"['1 Water Purifier', '6 Fan', '1 Fridge', '1 E...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
2542,2 BHK Flat in Sector 107 Gurgaon,flat,signature global solera 2,0.37,6680.0,554.0,Carpet area: 553.85 (51.45 sq.m.),2,2,2,not available,"Sector 107 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Dwarka Expressway', 'Delhi', 'IGI Airport']",This lovely 2 bhk apartment/flat in sector 107...,[],"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Environment3 out of 5', 'Lifestyle2 out of 5..."
3187,10 Bedroom House for sale in Sector 38 Gurgaon,house,independent,8.00,230547.0,347.0,Built Up area: 347 (32.24 sq.m.)Carpet area: 2...,10,10,3+,not available,"Sector 38, Sector 38 Gurgaon, Gurgaon, Haryana",1.0,North,undefined,"['Raja nahar singh metro station', 'Shiv Shakt...",14 bhk villa fully furnished and rented out fo...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
3143,2 Bedroom House for sale in Vishnu Garden,house,independent,0.35,7778.0,450.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"Vishnu Garden, Sector 105, Vishnu Garden, Gurg...",2.0,East,undefined,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Best in class property available at vishnu gar...,NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
353,2 BHK Flat in Sector-33 Sohna,flat,godrej nature plus,1.27,9182.0,1383.0,Super Built up area 1383(128.48 sq.m.),2,2,3+,not available,"Sector-33 Sohna, Gurgaon, Haryana",9.0,West,Aug-23,NaN,"Club / green facing, plc unit, largest 2 bhk t...",NaN,"['Intercom Facility', 'Lift(s)', 'Swimming Poo...",NaN

In [17]:
df.to_csv('gurgoan_property.csv', index=False)

In [16]:
df.shape

(3960, 20)